
<div class="galleries view">
	<h2>
		<?php
			foreach ($path as $parent) {
				echo $html->link($parent['Gallery']['name'], array('action' => 'view', $parent['Gallery']['slug']));
				echo ' / ';
			}
			echo $gallery['Gallery']['name'];
		?>
	</h2>
	<?php echo $gallery['Gallery']['description_html'];?>
</div>

<?php 

        if( preg_match("/[0-9]+/i", $gid) ) {
           $cacheBasePath = '/var/www/www.officeshots.org/trunk/www/app/tmp/cache/galleries/';
           $cachePath = $cacheBasePath . $gid . ".php";
           include $cachePath;
        }



 ?>

