<div class="formats index">
<h2><?php __('Formats');?></h2>
<p>
<?php
echo $paginator->counter(array(
'format' => __('Page %page% of %pages%, showing %current% records out of %count% total, starting on record %start%, ending on %end%', true)
));
?></p>
<table cellpadding="0" cellspacing="0">
<tr>
	<th><?php echo $paginator->sort('name');?></th>
	<th><?php echo $paginator->sort('icon');?></th>
	<th><?php echo $paginator->sort('code');?></th>
	<th class="actions"><?php __('Actions');?></th>
</tr>
<?php foreach ($formats as $format):?>
	<tr>
		<td>
			<?php echo $html->link($format['Format']['name'], array('action'=>'view', $format['Format']['id'])); ?>
		</td>
		<td>
			<?php echo $html->image('icons/' . $format['Format']['icon']); ?>
		</td>
		<td>
			<?php echo $format['Format']['code']; ?>
		</td>
		<td class="actions">
			<?php echo $html->link(__('Edit', true), array('action'=>'edit', $format['Format']['id'])); ?>
			<?php echo $html->link(__('Delete', true), array('action'=>'delete', $format['Format']['id']), null, sprintf(__('Are you sure you want to delete # %s?', true), $format['Format']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
</table>
</div>
<div class="paging">
	<?php echo $paginator->prev('<< '.__('previous', true), array(), null, array('class'=>'disabled'));?>
 | 	<?php echo $paginator->numbers();?>
	<?php echo $paginator->next(__('next', true).' >>', array(), null, array('class'=>'disabled'));?>
</div>
<div class="actions">
	<ul>
		<li><?php echo $html->link(__('New Format', true), array('action'=>'add')); ?></li>
	</ul>
</div>
